.body {
    background-color: #000;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.header {
    height: 70px;
    padding: 10px 20px;
    background-color: #fff;
}

.header__logo {
    float: left;
    width: 90px;
}

.header__navigation {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    line-height: 25px;
}

.header__navigation li {
    display: inline-block;
    border-right: 2px solid #572575;
    color: #572575;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
}

.header__navigation li:last-child {
    border-right: none;
}

.header__burger-wrapper {
    position: relative;
    padding: 0;
}

.header__burger-menu{
    position: relative;
    width: 25px;
    height: 19px;
    border-top: 3px solid #572575;
    border-bottom: 3px solid #572575;
    top: 5px;
}

.header__burger-menu:before {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 3px;
    background: #572575;
    content: "";
}

.main {
    background-color: #fff;
}

.main .background {
    background-image: url("http://placekitten.com/1440/690");
    background-size: cover;
    padding: 45px 0;
}

.pink-circle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    width: 580px;
    height: 580px;
    background-color: #f44295;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.pink-circle .button {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 45px;
    border-radius: 100px;
    color: #fff;
    text-align: left;
    padding-left: 25px;
}

.pink-circle .button--purple {
    border: 2px solid #562873;
    background-color: #562873;
}

.pink-circle .button--transparent {
    background-color: transparent;
    border: 2px solid #ff8ec3;
}

.pink-circle h1 {
    font-size: 24px;
}

.pink-circle h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.pink-circle p {
    margin: 20px 0;
}

.pink-circle__content {
    padding: 115px 65px;
}

.main .guide-section {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 580px;
    padding: 0 20px 10px 20px;
}

.main .guide-section h2 {
    font-size: 32px;
    font-weight: 100;
    color: #2b3133;
    margin: 40px 0 0 0;
}

.main .guide-section h3 {
    font-size: 18px;
    color: #562873;
    margin: 30px 0 10px 0;
}

.main .guide-section p {
    font-size: 14px;
    line-height: 1.6;
    color: #2b3133;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ .header__navigation-menu {
    display: block;
}

.header__navigation-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 670px;
    background-color: #f44295;
    margin: 60px 0px 0px -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: bold;
}

.header__navigation-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.header__navigation-list {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.header__navigation-list li {
    margin: 15px auto;
}

.header__navigation-column li {
    list-style-type: square;
}

.header__navigation-column a {
    text-decoration: none;
}

.header__navigation-column a:link {
    color: #fff;
}

.header__navigation-column a:visited {
    color: #fff;
}

.header__navigation-column a:hover {
    color: #572575;
}

.header__navigation-label {
    cursor: pointer;
}

.header__navigation-subtitle {
    font-size: 25px;
    font-weight: normal;
}

@media (max-width: 768px) {
    .header__navigation li.header__navigation-item {
        display: none;
        border: none;
    }

    .pink-circle {
        border-radius: 0;
        width: 100%;
    }

    .main .background {
        background-image: none;
        padding: 0px;
    }

    .main .guide-section {
        width: 100%;
    }

    .header__navigation-menu {
        height: 580px;
    }

    .header__navigation-list {
        display: block;
    }

    .header__navigation-column {
        border-bottom: 1px solid;
    }

    .header__navigation-title {
        display: none;
    }

    .header__navigation-subtitle {
        font-size: 20px;
        margin-left: 15px;
    }

    .header__navigation-column li {
        margin-left: 45px;
    }

    .bottom-border--none {
        border-bottom: none;
    }
}
